@media screen and (min-width: 737px) {
    body {
        display: none;
    }
}

@media screen and (max-height: 414px) {
    #main-title br {
        display: none;
    }
}

@media screen and (max-height: 375px) {
    #main-button {
        display: none;
    }
}

@media screen and (max-width: 736px) {

    /*
    * General
    */
    html, body {
        font-family: 'Fira Sans', sans-serif;
        padding: 0;
        margin: 0;
    }
    html.side-open {
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 0;
    }
    h1, h2, h3, h4 {
        margin: 0;
        font-weight: 400;
    }
    h1 {
        font-size: 2rem;
    }
    p {
        margin: 0;
    }

    /*
    * Layout
    */
    .page-container {
        background-color: #111;
        background: url(../img/bg.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100vh;
        padding-bottom: 160px;
    }

    /*
    * Header
    */
    .header {
        background-color: rgba(0,0,0,.5);
        display: -webkit-flex;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        -webkit-transition: background-color .2s linear;
        -o-transition: background-color .2s linear;
        transition: background-color .2s linear;
        z-index: 995;
    }
    .scroll-on .header {
        background-color: rgba(0,0,0,0.95);
        -webkit-transition: background-color .2s linear;
        -o-transition: background-color .2s linear;
        transition: background-color .2s linear;
    }
    .header-item {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-top: 20px;
    }
    .header-item.header-logo {
        margin-right: auto;
        padding-left: 20px;
    }
    .header-item.header-logo img {
        max-width: 144px;
    }

    /*
    * Menu
    */
    .header-menu {
        width: 40px;
        height: 40px;
        text-align: center;
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 999;
    }
    #hamburger-nav {
        width: 20px;
        height: 20px;
        margin-top: 13px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
    }
    #hamburger-nav span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #fff;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    #hamburger-nav span:nth-child(1) {
        top: 0px;
    }
    #hamburger-nav span:nth-child(2),
    #hamburger-nav span:nth-child(3) {
        top: 6px;
    }
    #hamburger-nav span:nth-child(4) {
        top: 12px;
    }
    #hamburger-nav.open span:nth-child(1) {
        top: 6px;
        width: 0%;
        left: 50%;
    }
    #hamburger-nav.open span {
        background: #f7d146;
    }
    #hamburger-nav.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #hamburger-nav.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    } 
    #hamburger-nav.open span:nth-child(4) {
        top: 6px;
        width: 0%;
        left: 50%;
    }

    /*
    * Content
    */
    .content {
        color: #fff;
        padding-top: 80px;
    }
    .account {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        width: 100%;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25);
        box-shadow: 0 1px 3px rgba(0,0,0,.25);
        background-color: #f7d146;
    }
    .account-item {
        height: 24px;
        line-height: 24px;
        color: #111;
        letter-spacing: 1px;
        font-size: .75rem;
        font-weight: 800;
        margin: 5px;
        background-color: #f7d146;
        border: 1px solid #131313;
    }
    .account-item .material-icons {
        vertical-align: middle;
        margin-bottom: 1px;
        background-color: #131313;
        color: #fff;
        margin-right: 5px;
        font-size: 18px;
        line-height: 24px;
        width: 24px;
        height: 24px;
        text-align: center;
        margin-right: 10px;
    }
    .account-name {
        width: 33.3333%;
    }
    .account-balance {
        width: 33.3333%;
    }
    .account-add-balance {
        width: 33.3333%;
        background-color: #28a745;
        color: #fff;
        border: dotted 1px rgba(0,0,0,0.15);
    }
    .account-add-balance .material-icons {
        -webkit-transition: background-color .2s linear;
        -o-transition: background-color .2s linear;
        transition: background-color .2s linear;
        background-color: rgba(0,0,0,0.15);
    }
    .account-add-balance.open {
        background-color: #131313;
        -webkit-transition: background-color .2s linear;
        -o-transition: background-color .2s linear;
        transition: background-color .2s linear;
        color: #fff;
    }
    .account-add-balance img {
        max-width: 24px;
        margin-right: auto;
        vertical-align: middle;
    }
    .account-expand {
        display: none;
        background-color: #131313;
        padding: 40px;
    }
    .account-expand-change {
        font-size: .75rem;
        color: #f7d146;
    }
    .account-expand-change .material-icons {
        vertical-align: middle;
    }
    .account-expand-title {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .account-expand-card {
        background-color: #303030;
        line-height: 40px;
        height: 40px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .account-expand-card .main-credit {
        width: 100%;
        font-size: .875rem;
    }
    .account-expand-card .main-credit img {
        width: 30px;
        height: 20px;
        margin-right: 10px;
        vertical-align: middle;
        margin-right: 20px;
    }
    .account-expand-card .main-credit span {
        padding-right: 10px;
        padding-left: 10px;
    }
    .account-expand-buttons {
        display: -webkit-flex;
        display: flex;
    }
    .account-expand-button {
        display: block;
        background-color: transparent;
        margin-bottom: 10px;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 33.333%;
        text-align: center;
        margin: 5px;
        line-height: 22px;
        font-weight: 700;
        border: solid 1px #f7d146;
        color: #f7d146;
    }
    .account-expand-button-own {
        display: block;
        border: solid 1px #fff;
        margin-bottom: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 0.75rem;
        background-color: #fff;
        width: auto;
        text-align: center;
        margin: 5px;
        line-height: 40px;
        color: #999;
        -webkit-box-shadow: inset 0px 0px 10px 6px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 10px 6px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 10px 6px rgba(0,0,0,0.25);
    }
    .account-expand-button-submit {
        width: auto;
        text-align: center;
        margin: 5px;
        line-height: 40px;
        text-transform: uppercase;
        border: solid 2px #f7d146;
        color: #f7d146;
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 1.5rem;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .account-expand-button-submit:hover {
        background-color: #1b8c35;
    }
    .account-expand-button:hover {
        background-color: #f7d146;
        color: #111;
    }
    #main-title {
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1px;
        font-size: 2rem;
        text-align: center;
    }
    #main-title span {
        font-size: 2.5rem;
        color: #f7d146;
    }
    #main-button {
        background-color: transparent;
        color: #f7d146;
        border: solid 2px #f7d146;
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        line-height: 60px;
        height: 60px;
        margin: 20px;
    }
    #main-button:hover {
        background-color: #f7d146;
        color: #111;
    }
    .content-blocks {
        padding: 20px;
    }
    .content-block {
        padding: 20px;
    }

    /*
    * Toolbar
    */
    .toolbar {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .toolbar .toolbar-expand {
        background-color: #f7d146;
        height: 20px;
        width: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
    }
    .toolbar .toolbar-expand.open {
        background-color: rgba(0,0,0,0.95);
    }
    .toolbar .toolbar-expand:before {
        font-family: 'Material Icons';
        content: 'expand_less';
        -webkit-font-feature-settings: 'liga';
        font-feature-settings: 'liga';
        font-size: 24px;
        line-height: 20px;
        color: #111;
    }
    .toolbar .toolbar-expand.open:before {
        font-family: 'Material Icons';
        content: 'expand_more';
        -webkit-font-feature-settings: 'liga';
        font-feature-settings: 'liga';
        color: #f7d146;
    }
    .toolbar .toolbar-expand .material-icons {
        font-size: 20px;
        margin-top: 5px;
    }
    .toolbar-items,
    .toolbar-more {
        background-color: rgba(0,0,0,0.95);
        display: -webkit-flex;
        display: flex;
        width: 100%;
        height: 60px;
    }
    .toolbar-items {
        color: #fff;
    }
    .toolbar-item {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 25%;
        text-align: center;
        margin: 5px;
        border: 1px solid rgba(0,0,0,.15);
        padding: 5px;
        padding-bottom: 0;
        border: solid 1px #111;
        position: relative;
        overflow: hidden;
    }
    .toolbar-item:hover {
        background-color: #111;
    }
    .toolbar-item p {
        margin-top: 4px;
        font-size: .6875rem;
        font-weight: 400;
        color: #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .toolbar-more {
        background-color: rgba(0,0,0,0.95);
        display: none;
        color: #fff;
    }
    .toolbar-item-eight:before {
        content: "new";
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 10px;
        color: #111;
        background-color: #f7d146;
        font-weight: 700;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 3px;
    }

    /*
    * Menu
    */
    #sidepanel {
        position: fixed;
        width: 100%;
        height: auto;
        overflow-y: auto;
        background-color: rgba(0,0,0,0.95);
        z-index: 996;
        top: 0px;
        bottom: 0;
        display: none;
    }
    .sidepanel-divider {
        height: 2px;
        width: 20px;
        background-color: #f7d146;
        margin-left: 40px;
    }
    #sidepanel ul {
        padding: 40px;
        margin: 0;
    }
    #sidepanel ul li {
        list-style-type: none;
    }
    #sidepanel ul li a,
    #sidepanel ul li a:visited {
        color: #fff;
        text-decoration: none;
    }
    #sidepanel ul li a:hover {
        color: #f7d146;
    }
    #sidepanel .sidepanel-list-one li {
        padding-bottom: 10px;
    }
    #sidepanel .sidepanel-list-one li:last-child {
        padding-bottom: 0px;
    }
    #sidepanel .sidepanel-list-one li a {
        font-size: 2rem;
        padding-bottom: 10px;
        font-weight: 700;
    }
    #sidepanel .sidepanel-list-two li {
        padding-bottom: 10px;
    }
    #sidepanel .sidepanel-list-two li:last-child {
        padding-bottom: 0px;
    }
    #sidepanel .sidepanel-list-two li a {
        font-size: 1rem;
        padding-bottom: 10px;
        font-weight: 700;
    }
    #sidepanel .sidepanel-list-three li a {
        font-size: 2rem;
        padding-bottom: 0px;
        font-weight: 700;
    }
}